@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema AEC</h1>
    <p>Você está logado com sucesso!</p>
    <hr />
    <a href="/Endereco" class="btn btn-success btn-lg">Gerenciar Meus Endereços</a>
</div>